In [21]:
import pandas as pd

test_data = pd.read_csv('./open/test_data.csv')
train_data = pd.read_csv('./open/train_data.csv')
topic_dict = pd.read_csv('./open/topic_dict.csv')
submission = pd.read_csv('./open/sample_submission.csv')

print(train_data.columns)
print(test_data.columns)
print(submission.columns)

Index(['index', 'title', 'topic_idx'], dtype='object')
Index(['index', 'title'], dtype='object')
Index(['index', 'topic_idx'], dtype='object')

In [33]:
import re

# train_data['title'] = train_data['title'].map(lambda x:re.sub('[^가-힣]', ' ', x).strip())
# test_data['title'] = test_data['title'].map(lambda x:re.sub('[^가-힣]', ' ', x).strip())
# train_data['title'] = train_data['title'].map(lambda x:re.sub('\W', ' ', x).strip())
# test_data['title'] = test_data['title'].map(lambda x:re.sub('\W', ' ', x).strip())
train_data['title'] = train_data['title'].map(lambda x:re.sub('[\W\d]', ' ', x).strip())
test_data['title'] = test_data['title'].map(lambda x:re.sub('[\W\d]', ' ', x).strip())

train_data.head()

   index                                       title  topic_idx
0      0            인천  핀란드   항공기  결항  휴가철   여행객  분통          4
1      1     실리콘 밸리    넘어서 겠다  구글   조원 들여  美전역   거점화          4
2      2  이란 외무  긴장완화    해결책 은   미국이   경제전쟁   멈추는  것          4
3      3   NYT  클린턴   측근 韓기업    특수관계  조명 공과 사  맞물려종합          4
4      4            시진핑    트럼프 에  중미  무역협상  조속 타결 희망          4

In [34]:
temp = list(map(lambda x:x.split(), train_data['title'].tolist() + test_data['title'].tolist()))
num_word_list = list(map(len, temp))
print('가장 많은 단어를 가진 뉴스의 단어수 :', max(num_word_list))

가장 많은 단어를 가진 뉴스의 단어수 : 14

In [35]:
from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer(num_words=80000, oov_token="<oov>")
tokenizer.fit_on_texts(train_data['title'].tolist() + test_data['title'].tolist())

word_index = tokenizer.word_index

In [39]:
import numpy as np

words = np.array(list(word_index.keys())[1:])
len_chr = np.array(list(map(len, words)))
words = words[(len_chr >= 2) & (len_chr <= 7)]
words = sorted(words, key=lambda x:len(x), reverse=True)
words[:10]

['sk브로드밴드',
 'ktb투자증권',
 '바이올리니스트',
 '삼성엔지니어링',
 '로보어드바이저',
 'kbs교향악단',
 '에미레이트항공',
 'ibk투자증권',
 '오클라호마시티',
 '금수산태양궁전']

In [38]:
# sorted(words)

In [ ]:
from tqdm import tqdm

for word in tqdm(words):
    train_data['title'] = train_data['title'].map(lambda x:x.replace(word, ' {} '.format(word)))
    test_data['title'] = test_data['title'].map(lambda x:x.replace(word, ' {} '.format(word)))

 77%|████████████████████████████████████████████████████████▊                 | 51202/66630 [1:01:53<19:58, 12.87it/s]

In [ ]:
train_data.to_csv('./refined_train_data_2word_1_no_num.csv', index=False)
test_data.to_csv('./refined_test_data_2word_1_no_num.csv', index=False)

In [8]:
temp = list(map(lambda x:x.split(), train_data['title'].tolist() + test_data['title'].tolist()))
num_word_list = list(map(len, temp))
print('가장 많은 단어를 가진 뉴스의 단어수 :', max(num_word_list))

가장 많은 단어를 가진 뉴스의 단어수 : 21

In [9]:
from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer(num_words=80000, oov_token="<oov>")
tokenizer.fit_on_texts(train_data['title'].tolist() + test_data['title'].tolist())

word_index = tokenizer.word_index

In [10]:
import numpy as np

words = np.array(list(word_index.keys())[1:])
len_chr = np.array(list(map(len, words)))
words = words[(len_chr >= 2) & (len_chr <= 6)]
words = sorted(words, key=lambda x:len(x), reverse=True)
words[:10]

['부르키나파소',
 '키르기스스탄',
 'bgf리테일',
 'kistep',
 '프랑크푸르트',
 'gs칼텍스에',
 '삼정kpmg',
 '커뮤니케이션',
 'kaist서',
 'lig넥스원']

In [11]:
from tqdm import tqdm

for word in tqdm(words):
    train_data['title'] = train_data['title'].map(lambda x:x.replace(word, ' {} '.format(word)))
    test_data['title'] = test_data['title'].map(lambda x:x.replace(word, ' {} '.format(word)))

100%|████████████████████████████████████████████████████████████████████████████| 26206/26206 [32:09<00:00, 13.58it/s]

In [12]:
train_data.to_csv('./refined_train_data2.csv', index=False)
test_data.to_csv('./refined_test_data2.csv', index=False)

In [19]:
import re

train_data['title'] = train_data['title'].map(lambda x:re.sub('\s+', ' ', x).strip())
test_data['title'] = test_data['title'].map(lambda x:re.sub('\s+', ' ', x).strip())
# test_data.head(20)

In [20]:
train_data['title'].values[:20]

array(['인천 핀 란드 항공 기 결항 휴가 철 여행 객 분통',
       '실리 콘 밸리 넘어 서 겠다 구글 1 5조 원 들여 美 전역 거점 화',
       '이란 외무 긴장 완화 해결 책 은 미국 이 경제 전쟁 멈추 는 것',
       'NYT 클린 턴 측근 韓 기업 특수 관계 조명 공과 사 맞 물려 종합',
       '시진핑 트럼 프 에 중미 무역 협상 조속 타결 희망',
       '팔레 스타 인 가자 지구 서 16 세 소년 이 스라엘 군 총격 에 사망',
       '인도 4 8년 만에 파 키스 탄 공습 테러 캠프 폭격 종합 2보',
       '美 대선 TV 토론 음담패설 만회 실패 트럼 프 사과 대신 빌 클린 턴 공격 해 역 효과',
       '푸틴 한 반도 상황 진전 위한 방안 김 정은 위원 장 과 논의',
       '특검 면죄부 받은 트럼 프 스캔들 보도 언론 맹공 국민 의 적',
       '日 오키 나와 서 열린 강제 징용 노동 자 추도 식',
       '이란 서 최고 지도 자 모욕 혐의 미국 인 에 징역 10 년 선고',
       '카니발 축제 보러 가자 브라질 리우 에 대형 유람선 행렬',
       '美 올랜도 병원 최악 총기 테러 부상 자 치료 비 안 받는 다', '日 대 기업 올해 평균 2 46 임금 인상',
       'WMO 엘니뇨 여전 히 강력 2 분기 엔 소멸 될 듯',
       '이 스라엘 네타냐후 유 대교 도 병역 문제 로 연정 협상 진통',
       'UAE 사우디 이어 美 호르무즈 호위 연합 에 참여 키로',
       '사우디 군 오만 해 유 조선 공격 예멘 반군 과 연결 이란 겨냥',
       '개천 에서 용 나와 라 美 사업 가 모교 에 1천 억 원 장학 금 기부'], dtype=object)